@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "garuh";
  src: url("./fonts/garuh.woff2") format("woff2"),
    url("./fonts/garuh.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.gan {
  font-family: "garuh";
}
